.cardP {
    width: 75%;
    z-index: -5;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;

    @media (max-width: 1280px) {
        font-size: 17px;

    }

        @media (max-width: 785px) {
        font-size: 15px;
    }


    p {
        text-align: center;
        width: 50%;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 20px;
        font-weight: 300;

        @media (max-width: 1280px) {
        font-size: 17px;

    }

        @media (max-width: 785px) {
        font-size: 15px;
    }

    }

}