.nav-link, nav {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    z-index: 2;

    @media screen and (max-width: 580px) {

        font-size: 12px;
    }

    .active {
        color: white;
        text-decoration: none;
    }

}

nav {
position: fixed;

    @media screen and (max-width: 540px) {
        //flex-direction: column;
        //align-items: center;
    }

    .nav-link{
        text-decoration: underline 0.15em rgba(255, 255, 255, 0);
        text-underline-offset: 0.2em;
        transition: text-decoration-color 300ms, text-underline-offset 300ms;

        &:hover {
            text-decoration-color: rgba(255, 255, 255, 1);
            text-underline-offset: 0.4em;
        }
    }
}
